#mainContent {
  display: grid;
  width: 100%;
  height: 30rem;
  place-items: center;
}

#products {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 80%;
  gap: 10%;
}
#productContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
#product {
  height: 80%;
  width: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 6%;
}

#description {
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}
